.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 100dvh;
}

.sun {
  height: 20dvh;
  width: 20dvh;
  border-radius: 50%;
  background: linear-gradient(
    rgb(255, 208, 0) 0%,
    rgb(255, 28, 28) 66%,
    rgb(216, 0, 217) 100%
  );
}

.sunFade {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    transparent 50%,
    black 50%,
    black 52%,
    transparent 52%,
    transparent 54%,
    black 54%,
    black 58%,
    transparent 58%,
    transparent 62%,
    black 62%,
    black 68%,
    transparent 68%,
    transparent 74%,
    black 74%,
    black 82%,
    transparent 82%,
    transparent 90%,
    black 90%
  );
}

.field {
  margin-top: -35dvh;
  height: 70dvh;
  width: 300dvw;
  transform: perspective(50px) rotateX(30deg);
  background: black;
  background-position-x: 5dvw;
  background-size: 10dvw 70dvh;
  background-image: linear-gradient(90deg, rgb(100, 0, 150) 2px, transparent 0);
}
